name: Deploy to GitHub Pages

on:
    push:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Install dependencies
              run: |
                  if [-f requirements.txt ]; then pip install -r requirements.txt; fi

            - name: Run Build Script
              run: python run.py

            - name: Upload artiafct
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "./public"

    deploy:
        needs: build
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{steps.deployment.outputs.page-url}}
        permissions:
            contents: read
            pages: write
            id-token: write
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
